@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}
:root{
    --text-color:#000000;
    --main-color:#83b735;
    --back-color:#edecea;
}
section{
    padding: 50px 10%;
}
/* Navigation Bar */
 header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--back-color);
}

.navcontainer{
    display: flex;
    justify-content: space-around;
    gap: 10rem;
    align-items: center;
}
.navbar ul{
    display: flex;
    gap: 2rem;
}

.navbar ul li{
    padding: 20px 8px;
}
.navbar ul li a{
    color: var(--text-color);
    font-weight: 600;
}
.navbar ul li a:hover{
    color: #83b735;
    }
.logo a{
    color: var(--text-color);
    font-size: 1.25rem;
    font-weight: 600;
}
.logo a span{
    color: var(--main-color);
}

.bx-menu{
    font-size: 1.75rem;
    position: absolute;
    right: 0;
    padding: 0px 1.75rem;
}
.bx-menu:hover{
    cursor: pointer;
}
.logo .bx-menu{
    display: none;
} 
/* Home Section */
.home{
    width: 100%;
    min-height: 100vh;
    background: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: grid;
    align-items: center;
}
.home-text h1{
    font-size: 2.7rem;
}
.home-text p{
    font-size: 0.938rem;
    margin: 0.4rem 0 1.8rem;
}
.home-text span{
    color: var(--main-color);
}
.home-text .btn{
    background-color: var(--main-color);
    padding:10px 15px;
    border-radius: 7px;
    color:white;
}
.btn:hover{
    background-color: #8fc53d;
}

/* Shopping Section */
.shop-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, auto));
    gap: 1.5rem;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}
.heading{
    text-align: center;
}
.heading span{
    color: var(--main-color);
    font-weight: 600;
}
.title-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0.5rem 1rem 0.5rem 0;
}
.title-price h3{
    padding-left: 12px;
}
.title-price .stars{
    color: var(--main-color);
}

.box span{
    color: var(--main-color);
    font-size: 1.1rem;
    font-weight: 600;
    width: 1rem;
    display: inline-block;
    padding: 0px 0px 12px 13px;
}

.box .bx-cart{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--main-color);
    color: white;
    font-size: 1.5rem;
    padding: 6px;
    border-top-left-radius: 5px;
}
.box .bx-cart:hover{
    background-color: #8fc53d;
}
.box{
    position: relative;
    border-radius: 50px 7px 0 0;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.box-img{
    width: 100%;
    overflow: hidden;
}
.box-img img{
    width: 345px;
    height: 425px;
    object-fit: cover;
    transition: 0.3s ease;
}
.box-img img:hover{
    transform: scale(1.1);
}
/* New Arrival Section */

.items-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,auto));
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.items-box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.items-img{
    width: 100%;
    overflow: hidden;
}
.items-img img{
    width: 345px;
    height: 425px;
    border-radius: 4px;
    object-fit: cover;
    transition: 0.3s ease;
}
.items-box img:hover{
    transform: scale(1.1);
}
.items-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0.5rem 0.5rem 0;
}
.items-box .stars{
    color: var(--main-color);
}
.items-box .bx-cart{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--main-color);
    color:white;
    font-size: 1.5rem;
    padding: 6px;
    border-top-left-radius: 5px;
}
.items-box .bx-cart:hover{
    background-color: #8fc53d;
}
.items-box span{
    color: var(--main-color);
    font-size: 1.1rem;
    font-weight: 600;
    width: 1rem;
    display: inline-block;
    padding: 0px 0px 12px 13px;
}
.items-box h3{
    padding-left: 12px;
}
/* About Us Section */

.about-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(470px,auto));
    justify-items: center;
    align-items: center;
    gap: 1rem;
}
.about-container img{
    width: 390px;
    border-radius: 10px;
}
.about-text span{
    color: var(--main-color);
    font-weight: 500;
}
.about-text p{
    font-size: 0.985rem;
}
.about-text .abtbtn{
    margin-top:20px;
}
.about-text .abtbtn a{
    background-color: var(--main-color);
    color: white;
    padding: 10px 12px;
    border-radius: 5px;
    font-weight: 400;
}
.about-text .abtbtn a:hover{
    background-color: #8fc53d;
}
/* Brands Section  */
.brands-container{
    margin-top:2rem;
}

.brands-container .images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 0.9rem;
}
.brands-container .images img{
    width: 8vw;
    filter: grayscale(100%);
}
.brands-container .images img:hover{
    cursor: pointer;
    filter: none;
}

/* Newsletter Section */

.newsletter{
    background: url(/img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    row-gap: 3rem;
}
.news-container h2{
    color: white;
}
.search input{
    width: 260px;
    padding: 10px;
    font-size: 1rem;
    border: none;
    outline: none;
}
.search .subsbtn{
    margin-left: -4px;
    width: 115px;
    padding: 10px;
    background-color: var(--main-color);
    font-size: 1rem;
    font-weight: 500;
    color: white;
    border: none;
    outline: none;
}
.search .subsbtn:hover{
    background-color: #8fc53d;
}
/* Footer */
.footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}
#box1 h3 span{
    color: var(--main-color);
}
#box1 .bx{
    font-size: 1.5rem;
    padding: 3px;
    margin-top: 5px;
}
#box1 .bx:hover{
    color: #8fc53d;
}
.footer-box h3{
    margin-bottom: 0.8rem;
}
.footer-box li a{
    color: var(--text-color);
}
.footer-box li a:hover{
    color: #83b735;
}
#box2 h3, #box3 h3, #box4 h3 {
    font-weight: 600;
}

footer p{
    text-align: center;
    padding: 15px;
    background-color: var(--back-color);
}

/* Making Responsive*/

@media(max-width:1050px){
    .about-container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(350px,auto));
        align-items: center;
        justify-items: center;
        gap: 2.5rem;
    }
    .about-container img{
        width: 340px;
        border-radius: 10px;
    }
    .about-text h2{
        font-size: 1.75rem;
    }
    .about-text p{
        font-size: 1rem;
    }
}

@media(max-width:958px){
    .navcontainer{
        gap: 8rem;
    }
    .navbar ul li{
        padding: 20px 5px;
    }
    .about-container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,auto));
        align-items: center;
        justify-items: center;
        gap: 2.5rem;
    }
    .about-container img{
        width: 300px;
        border-radius: 10px;
    }
    .about-text h2{
        font-size: 1.5rem;
    }
    .about-text p{
        font-size: 0.85rem;
    }
    .about-text .abtbtn a{
        font-size: 0.75rem;
    }

}

@media(max-width:850px){
    .navcontainer{
        display: block;
    gap:0;
    }
.navcontainer .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 1.75rem;
}
.logo .bx-menu{
    display: initial;
    font-size: 1.75rem;
    position: relative;
    padding: 0;
} 
.logo .bx-menu:hover{
    background-color: var(--main-color);
    color: white;
}

.navbar ul{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color:rgba(87, 84, 84, 0.315);
   gap: 0.5rem;
   transition: 0.5s ease-out;

}
.navbar ul li{
    display: none;
}
.navbar ul li.active{
    display:block;
}
.items-container{
    grid-template-columns: repeat(auto-fit, minmax(15rem,auto));
    gap: 1.5rem;
}
.about-container img{
    width: 300px;
    text-align: center;
}
}

@media (max-width:800px){
    .home-text h1{
        font-size: 2rem;
    }
    .home-text p{
        font-size: 0.938rem;
        margin: 0.4rem 0 1.8rem;
    }
    .shop-container{
        grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
        gap: 1.5rem;
    }
    .box-img img{
        width: 300px;
        height: 400px;
    }

    .about-container img{
        width: 300px;
        text-align: center;
    }
    .about-text {
        text-align: center;
    }
    .about-text p{
        font-size: 1.1rem;
    }
}

@media(max-width:470px){
    .search input{
        width: 180px;
        padding: 7px;
        font-size: 0.8rem;
    }
    .search .subsbtn{
        margin-left: -4px;
        width: 70px;
        padding: 10px;
        font-size: 0.6rem;
    }
    .news-container h2{
        font-size: 1.25rem;
    }

}







